<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>DEEPSEEK_API_KEY</key>
    <string></string>
    <key>DASHSCOPE_API_KEY</key>
    <string></string>
    <key>MIMO_LLM_API_KEY</key>
    <string></string>
    <key>DOUBAO_ASR_ACCESS_TOKEN</key>
    <string></string>
    <key>ALIYUN_ASR_API_KEY</key>
    <string></string>
    <key>MIMO_ASR_API_KEY</key>
    <string></string>
</dict>
</plist>
